<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="audit.core" value="https://wkaxcess.pkgs.visualstudio.com/_packaging/Audit.Core/nuget/v3/index.json" />
    <add key="audit.data" value="https://wkaxcess.pkgs.visualstudio.com/_packaging/Audit.Data/nuget/v3/index.json" />
    <add key="audit.api" value="https://wkaxcess.pkgs.visualstudio.com/_packaging/Audit.Api/nuget/v3/index.json" />
    <add key="axcess" value="https://wkaxcess.pkgs.visualstudio.com/_packaging/Axcess/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="audit.core" value="true" />
    <add key="audit.data" value="true" />
    <add key="audit.api" value="true" />
    <add key="axcess" value="true" />
  </disabledPackageSources>
</configuration> 